<form action="{% url 'house-list' %}"><input type="submit" value="Lista domkow"/></form>
<h1>Domek {{ object.name }}</h1>
<p>Tutaj kiedyś będą detale tego domku:</p>
<ul>
    <li>Powierzchnia: 100 m²</li>
    <li>Liczba pokoi: 3</li>
    <li>Liczba łazienek: 2</li>
    <li>Wyposażenie: Kuchnia, salon, taras</li>
    <li>Widok: Na jezioro</li>
</ul>

<form method="POST" action="{% url 'house-reserve' object.id %}">
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value="Reserve"/>
</form>
  
  
  
